body {
    background-image: url(../images/Background.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    font-style: italic;
    color: azure;
}

h2 {
    text-align: center;
    color: azure; 
    
}
h4 {
    text-align: left;
    color: azure; 
}

p {
    text-align: center;
    color: azure; 
    height: 30px;  
}

.box {
        background:rgba(255,255,255,0.3);
        border-radius: 25px; 
}       

.row {
    margin-bottom: 3rem;
    text-align: center;
    color: azure; 
}

button {
    background: none;
    border: none;
}
